{% extends 'base.html'%}


	{% block user_first_login %}
		<li class="active"><a href="/">Home</a></li>
	{% endblock user_first_login %}

	{% block home-sub-title %}
	<a class="navbar-brand" href="#">Projects</a>
	{% endblock home-sub-title %}


	{%block home-nav %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/users">Users</a></li>
			<li><a href="/controller/login">Admin</a></li>
		</ul>
	{% endblock home-nav %}

	{% block title %}
		<div class="jumbotron">
    		<h1>THE PROJECT COLLECTIONS</h1>
  		</div>
	{% endblock title %}



